# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

In [24]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/yurimalheiros/icd/master/datasets/movies.csv')
pd.options.display.float_format = '{:.2f}'.format
df.head()

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083.00,146083.00,NaN,8000000.00,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.10,1071.00
1,"First Love, Last Rites",10876.00,10876.00,NaN,300000.00,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.90,207.00
2,I Married a Strange Person,203134.00,203134.00,NaN,250000.00,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.80,865.00
3,Let's Talk About Sex,373615.00,373615.00,NaN,300000.00,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.00,NaN,NaN
4,Slam,1009819.00,1087521.00,NaN,1000000.00,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.00,3.40,165.00

### Qual o gênero de filme mais lucrativo em todo o mundo?

Abaixo temos a criação de um novo campo de lucro e a consulta para saber qual o gênero de filme mais lucrativo do mundo, segue da seguinte maneira: agrupamos os filmes de acordo com o gênero e somamos os valores de seus campos,após isso ordenamos pelo profit descendente e obtemos os 5 primeiros para ter a informação do primeiro gênero mais lucrativo que é Adventure, vale ressaltar que essa análise não levou em consideração a quantidade de filmes por gênero.

In [25]:
df['profit']=df['Worldwide Gross']-df['Production Budget']
df.groupby("Major Genre").sum().sort_values('profit',ascending=False)['profit'].head()

Major Genre
Adventure           47218059632.00
Action              37467427827.00
Comedy              31165195798.00
Drama               22658955343.00
Thriller/Suspense   11373073379.00
Name: profit, dtype: float64

Abaixo, ao invés de usarmos a soma, utilizamos a função de agregação de média que leva em consideração a quantidade indicando ainda mais que adventure é o gênero mais lucrativo

In [26]:
df.groupby("Major Genre").mean().sort_values('profit',ascending=False)['profit'].head()

Major Genre
Adventure           172328684.79
Action               89208161.49
Romantic Comedy      58265843.23
Musical              52298504.02
Thriller/Suspense    47586081.08
Name: profit, dtype: float64

Por fim temos a análise do desvio padrão de cada lucro de cada gênero, com ela somada aos dados da célula anterior
podemos ver que existe uma grande variação dentro do gênero de aventura, considerando isso podemos indicar que apesar de
em médi o gênero de aventura ser o gênero mais lucrativo, existe uma grande diferença entre o filme de aventura mais lucrativo e
o menos lucrativo

In [28]:
df.groupby("Major Genre").std().sort_values('profit',ascending=False)['profit'].head()

Major Genre
Adventure           238398699.49
Action              179435790.19
Thriller/Suspense   139870399.22
Romantic Comedy      97291928.50
Comedy               89960915.35
Name: profit, dtype: float64

### Qual o diretor dirigiu mais filmes?

Abaixo podemos ver na query que o diretor que mais dirigiu filmes foi o Steven Spielberg

In [35]:
df.groupby("Director").count().sort_values('Title',ascending=False)['Title'].head()

Director
Steven Spielberg    23
Woody Allen         16
Spike Lee           15
Martin Scorsese     15
Ridley Scott        14
Name: Title, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

Abaixo criamos uma coluna nova chamada cost/benefit que relaciona o total de arrecadações globais com o orçamento,ordenamos os dados por essa coluna e obtemos que a Atividade Paranormal foi o filme com melhor custo benefício.

In [48]:
df['cost/benefit']=df['Worldwide Gross']/df['Production Budget']
df.sort_values('cost/benefit',ascending=False)[['Title','Worldwide Gross','Production Budget','cost/benefit','profit']].head()

,Title,Worldwide Gross,Production Budget,cost/benefit,profit
2526,Paranormal Activity,193770453.00,15000.00,12918.03,193755453.00
2920,Tarnation,1162014.00,218.00,5330.34,1161796.00
244,Deep Throat,45000000.00,25000.00,1800.00,44975000.00
603,Mad Max,99750000.00,200000.00,498.75,99550000.00
2758,Super Size Me,29529368.00,65000.00,454.30,29464368.00